<!-- Utilize Cart Menu Start -->
<div id="ltn__utilize-cart-menu" class="ltn__utilize ltn__utilize-cart-menu">
	<div class="ltn__utilize-menu-inner ltn__scrollbar">
		<div class="ltn__utilize-menu-head">
			<span class="ltn__utilize-menu-title">Cart</span>
			<button class="ltn__utilize-close">×</button>
		</div>
		<div class="mini-cart-product-area ltn__scrollbar">
			{% if items | length > 0 %}
				{% for item in items %}
					<div class="mini-cart-item clearfix">
						<div class="mini-cart-img">
							<a href="{{ path('app_cart_remove', {'id': item.produit.Id}) }}">
								{% for image in item.produit.Pictures %}
									{% if loop.index0 == 0 %}
										<img src="{{ vich_uploader_asset(image, 'imageFile') }}" alt="#">
									{% endif %}
								{% endfor %}
							</a>
							<span class="mini-cart-item-delete">
								<i class="icon-trash"></i>
							</span>
						</div>
						<div class="mini-cart-info">
							<h6>
								<a href="#">{{ item.produit.Title }}</a>
							</h6>
							<span class="mini-cart-quantity">{{ item.quantity }}
								x ${{ item.produit.Price }}</span>
						</div>
					</div>
				{% endfor %}
			{% else %}
				<div class="mini-cart-info">
					<h6>
						Aucun produit dans le panier
					</h6>
				</div>
			{% endif %}
		</div>
        {% if items | length > 0 %}
            <div class="mini-cart-footer">
                <div class="mini-cart-sub-total">
                    <h5>Subtotal:
                        <span>${{ total }}</span>
                    </h5>
                </div>
                <div class="btn-wrapper">
                    <a href="{{ path('app_cart') }}" class="theme-btn-1 btn btn-effect-1">View Cart</a>
                    <a href="{{ path('profile_chekout') }}" class="theme-btn-2 btn btn-effect-2">Checkout</a>
                </div>
                <p>Free Shipping on All Orders Over $100!</p>
            </div>
        {% endif %}
	</div>
</div>
<!-- Utilize Cart Menu End -->
