{% extends 'admin.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
            <!-- Recent Sales Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="bg-secondary text-center rounded p-4">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <h6 class="mb-0">Listing User</h6>
                        <a href="{{ path('app_admin_user_new') }}">Create new</a>
                    </div>
                    <div class="table-responsive">
                        <table class="table text-start align-middle table-bordered table-hover mb-0">
                            <thead>
                                <tr class="text-white">
                                    <th scope="col"><input class="form-check-input" type="checkbox"></th>
                                    <th scope="col">Date</th>
                                    <th scope="col">E-mail</th>
                                    <th scope="col">FirstName</th>
                                    <th scope="col">LastName</th>
                                    <th scope="col">Mobile</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for user in users %}
                                <tr>
                                    <td><input class="form-check-input" type="checkbox"></td>
                                    <td>{{ user.RegistredAt ? user.RegistredAt|date('Y-m-d H:i:s') : '' }}</td>
                                    <td>{{ user.email }}</td>
                                    <td>{{ user.FirstName }}</td>
                                    <td>{{ user.LastName }}</td>
                                    <td>{{ user.Mobile }}</td>
                                    <td>
                                        <a class="btn btn-sm btn-primary" href="{{ path('app_admin_user_show', {'id': user.id}) }}">Show</a>
                                        <a class="btn btn-sm btn-secondary" href="{{ path('app_admin_user_edit', {'id': user.id}) }}">Edit</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- Recent Sales End -->
    {% endblock %}
