{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}
    <!-- BREADCRUMB AREA START -->
    <div class="ltn__breadcrumb-area ltn__breadcrumb-area-4 ltn__breadcrumb-color-white---">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ltn__breadcrumb-inner text-center">
                        <h1 class="ltn__page-title">Products</h1>
                        <div class="ltn__breadcrumb-list">
                            <ul>
                                <li><a href="index.html">Home</a></li>
                                <li>Products</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- BREADCRUMB AREA END -->

    <!-- SHOP DETAILS AREA START -->
    <div class="ltn__shop-details-area pb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="ltn__shop-details-inner">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="ltn__shop-details-img-gallery ltn__shop-details-img-gallery-2">
                                    <div class="ltn__shop-details-small-img slick-arrow-2">
                                        {% for picture in produit.Pictures %}
                                        <div class="single-small-img">
                                            <img src="{{ vich_uploader_asset(picture, 'imageFile') }}" alt="Image">
                                        </div>
                                        {% endfor %}
                                    </div>
                                    <div class="ltn__shop-details-large-img">
                                        {% for picture in produit.Pictures %}
                                        <div class="single-large-img">
                                            <a href="{{ vich_uploader_asset(picture, 'imageFile') }}" data-rel="lightcase:myCollection">
                                                <img src="{{ vich_uploader_asset(picture, 'imageFile') }}" alt="Image">
                                            </a>
                                        </div>
                                        {% endfor %}

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="modal-product-info shop-details-info pl-0">
                                    <h3>{{ produit.title }}</h3>
                                    <div class="product-price-ratting mb-20">
                                        <ul>
                                            <li>
                                                <div class="product-price">
                                                    {% if produit.Discount is null %}
                                                        <span>${{ produit.Price }}</span>
                                                    {% endif %}
                                                    {% if produit.Discount is not null %}
                                                        <span>${{ produit.Price - (produit.Price * produit.Discount / 100) }}</span>
                                                        <del>{{ produit.Price }}</del>
                                                    {% endif %}
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="modal-product-brief">
                                        <p>{{ produit.summary | raw }}</p>
                                    </div>
                                    <div class="ltn__product-details-menu-2 product-cart-wishlist-btn mb-30">
                                        <ul>
                                            <li>
                                                <div class="cart-plus-minus">
                                                    <input type="text" value="02" name="qtybutton" class="cart-plus-minus-box">
                                                </div>
                                            </li>
                                            <li>
                                                <a href="#" data-id="{{ produit.Slug }}" class="AddToCart theme-btn-1 btn btn-effect-1 d-add-to-cart" title="Add to Cart" data-bs-toggle="modal" data-bs-target="#add_to_cart_modal">
                                                    <span>ADD TO CART</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="ltn__social-media mb-30">
                                        <ul>
                                            <li class="d-meta-title">Share:</li>
                                            <li><a href="#" title="Facebook"><i class="icon-social-facebook"></i></a></li>
                                            <li><a href="#" title="Twitter"><i class="icon-social-twitter"></i></a></li>
                                            <li><a href="#" title="Pinterest"><i class="icon-social-pinterest"></i></a></li>
                                            <li><a href="#" title="Instagram"><i class="icon-social-instagram"></i></a></li>

                                        </ul>
                                    </div>
                                    <div class="modal-product-meta ltn__product-details-menu-1 mb-30">
                                        <ul>
                                            <li><strong>SKU:</strong> <span>{{ produit.sKU }}</span></li>
                                            <li>
                                                <strong>Categories:</strong>
                                                <span>
                                                    <a href="{{ path('app_category', {'slug': produit.category.Slug } ) }}">{{ produit.category }}</a>
                                                </span>
                                            </li>

                                        </ul>
                                    </div>
                                    <div class="ltn__safe-checkout">
                                        <h5>Guaranteed Safe Checkout</h5>
                                        <img src="{{ asset('img/icons/payment-2.png') }}" alt="Payment Image">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- SHOP DETAILS AREA END -->

    <!-- SHOP DETAILS TAB AREA START -->
    <div class="ltn__shop-details-tab-area pb-60">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ltn__shop-details-tab-inner">
                        <div class="ltn__shop-details-tab-menu">
                            <div class="nav">
                                <a class="active show" data-bs-toggle="tab" href="#liton_tab_details_1_1">Description</a>

                            </div>
                        </div>
                        <div class="tab-content">
                            <div class="tab-pane fade active show" id="liton_tab_details_1_1">
                                <div class="ltn__shop-details-tab-content-inner text-center">
                                    <p>{{ produit.content | raw}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- SHOP DETAILS TAB AREA END -->

    <!-- PRODUCT SLIDER AREA START -->
    <div class="ltn__product-slider-area pb-40">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title-area text-center">
                        <h1 class="section-title section-title-border">related products</h1>
                    </div>
                </div>
            </div>
            <div class="row ltn__related-product-slider-one-active slick-arrow-1">
                {% for produit in lastProducts%}
                <div class="col-12">

                    <div class="ltn__product-item ltn__product-item-4">
                        {% for picture in produit.Pictures %}
                        <div class="product-img">
                            <a href="{{ path('app_product', {'Slug': produit.Slug}) }}">
                                {% if loop.first %}
                                    <img src="{{ vich_uploader_asset(picture, 'imageFile') }}" alt="Image">
                                {% endif %}
                            </a>
                            {% if produit.Discount is not null %}
                                <div class="product-badge">
                                    <ul>
                                        <li class="badge-2">{{ produit.Discount }}%</li>
                                    </ul>
                                </div>
                            {% endif %}
                            <div class="product-hover-action product-hover-action-3">
                                <ul>
                                    <li>
                                        <a href="#" title="Quick View" data-bs-toggle="modal" data-bs-target="#quick_view_modal">
                                            <i class="icon-magnifier"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" data-id="{{ produit.Slug }}" class="AddToCart" title="Add to Cart" data-bs-toggle="modal" data-bs-target="#add_to_cart_modal">
                                            <i class="icon-handbag"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" title="Quick View" data-bs-toggle="modal" data-bs-target="#quick_view_modal">
                                            <i class="icon-shuffle"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        {% endfor %}
                        <div class="product-info">

                            <h2 class="product-title"><a href="{{ path('app_product', {'Slug': produit.Slug}) }}">{{ produit.title }}</a></h2>
                            <div class="product-price">
                                {% if produit.Discount is null %}
                                    <span>${{ produit.Price }}</span>
                                {% endif %}
                                {% if produit.Discount is not null %}
                                    <span>${{ produit.Price - (produit.Price * produit.Discount / 100) }}</span>
                                    <del>{{ produit.Price }}</del>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- PRODUCT SLIDER AREA END -->

    <!-- BRAND LOGO AREA START -->
    <div class="ltn__brand-logo-area  ltn__brand-logo-1 section-bg-1 pt-35 pb-35 plr--5">
        <div class="container-fluid">
            <div class="row ltn__brand-logo-active">
                <div class="col-lg-12">
                    <div class="ltn__brand-logo-item">
                        <img src="img/brand-logo/1.png" alt="Brand Logo">
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="ltn__brand-logo-item">
                        <img src="img/brand-logo/2.png" alt="Brand Logo">
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="ltn__brand-logo-item">
                        <img src="img/brand-logo/3.png" alt="Brand Logo">
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="ltn__brand-logo-item">
                        <img src="img/brand-logo/4.png" alt="Brand Logo">
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="ltn__brand-logo-item">
                        <img src="img/brand-logo/5.png" alt="Brand Logo">
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="ltn__brand-logo-item">
                        <img src="img/brand-logo/1.png" alt="Brand Logo">
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="ltn__brand-logo-item">
                        <img src="img/brand-logo/2.png" alt="Brand Logo">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- BRAND LOGO AREA END -->
{% endblock %}

{% block javascripts %}
<script>
    $(document).ready(function(){
        $(".AddToCart").on("click", function(event){
            event.preventDefault();
            var id = $(this).data("id");
console.log(id);
            // je vais l'envoyer en AJAX
            $.ajax({
                url: "{{ path('app_modal_addtocart') }}",
                type: "GET",
                data: {id: id},
                dataType: 'json',
                async: true,
                success: function(data, status){
                    //

                    let title = data.Titre;
                    let image = data.image;
                    let slug  = data.Slug;

                    // j'inject le let title dans le html
                    $(".InjectTitle").text(title);

                }
            });
        });
    });
</script>
{% endblock %}