{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}
    <h1>Product</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ product.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ product.Title }}</td>
            </tr>
            <tr>
                <th>MetaTitle</th>
                <td>{{ product.MetaTitle }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ product.Slug }}</td>
            </tr>
            <tr>
                <th>Summary</th>
                <td>{{ product.Summary }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ product.Type }}</td>
            </tr>
            <tr>
                <th>SKU</th>
                <td>{{ product.SKU }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ product.Price }}</td>
            </tr>
            <tr>
                <th>Discount</th>
                <td>{{ product.Discount }}</td>
            </tr>
            <tr>
                <th>Quantity</th>
                <td>{{ product.Quantity }}</td>
            </tr>
            <tr>
                <th>Shop</th>
                <td>{{ product.Shop }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ product.CreatedAt ? product.CreatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ product.UpdatedAt ? product.UpdatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>PublishedAt</th>
                <td>{{ product.PublishedAt ? product.PublishedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>StartsAt</th>
                <td>{{ product.StartsAt ? product.StartsAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>EndAt</th>
                <td>{{ product.EndAt ? product.EndAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ product.Content }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_product_index') }}">back to list</a>

    <a href="{{ path('app_admin_product_edit', {'id': product.id}) }}">edit</a>

    {{ include('admin/product/_delete_form.html.twig') }}
{% endblock %}
